<!DOCTYPE html>
<html lang="fr">
  <head>
    <meta charset="UTF-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1.0, maximum-scale=1.0"
    />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>{{ title }}</title>
  </head>

  <body>
    <div class="page {{ page }}">
      {% include '../partials/header.twig' %}
      <main class="page__content">{% block page %}{% endblock %}</main>
      {% include '../partials/footer.twig' %}
    </div>
  </body>
</html>
