/**
  * variables
*/

// container sizes
$tablet-width: 720px;
$laptop-width: 960px;
$desktop-width: 1140px;

// bootstrap
// $font-family-base: 'Arial';
// $font-size-base: 1rem;
// $font-weight-base: 400;
// $line-height-base: 1.15;
// $heading-margin-bottom: 0;
// $paragraph-margin-bottom: 0;
