/**********

* Libraries

**********/

// Normalize.css
@import 'libs/normalize';

html,
body {
  height: 100%;
}

body {
  display: flex;

  align-items: center;
  justify-content: center;
}

.start {
  width: 50%;
  img {
    width: 100%;
  }
}
